<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302527890427-e8qvh3dmsfckh8sps8i7m1q8s494t16b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302527890427-e8qvh3dmsfckh8sps8i7m1q8s494t16b</string>
	<key>API_KEY</key>
	<string>AIzaSyAxfyPcUD1_pxCJH9L4WE2A0XP3BNdcTvc</string>
	<key>GCM_SENDER_ID</key>
	<string>302527890427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-9cd0e</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-9cd0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302527890427:ios:e74228d1eb70638502415e</string>
</dict>
</plist>